<!DOCTYPE html>
<html lang="en">
<head>
	<title> <%= title %> </title>
</head>

<body>
	<h1> <%= title %> </h1>
	Author: <%= author %></b>
	Date: <%= date %> <br>
	<p> <%= description %> </p>

	<% for (let i = 0; i < content.length; i++) { %>
		<img src="image/<%= content[i] %>">
	<% } %>

	<form action="/comment/<%= id %>" method="post">
		Comment: <input type="text" name="comment">
		<input type="submit" value="Submit">
	</form>

	<% for (let i = 0; i < comment.length; i++) { %>
		<div> <b> <%= comment[i].author %> </b>: <%= comment[i].text %> </div>
	<% } %>

</body>
</html>
